:root {
    --grid-rows: 1;
    --grid-cols: 1;
}

body {
    background-color:rgb(101, 131, 32);
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#containGrid {
    width: 500px;
    height: 500px;
    border: 3px solid #303030;
    border-radius: 3px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    
}

.grid-item {
    border: 1px solid #303030;
    text-align: center;
}

.clearButton {
    color: black;
    border-radius: 5px;
    background-color:peachpuff;
    padding: 5px 20px;
    margin: 5px;
    box-shadow: 1px 1px black;
}

.title {
    font-size: 45px;
    font-family:Arial, Helvetica, sans-serif;
    color:wheat;
    text-shadow: -1px 0px  black, 1px 0px  black, 0px 1px black, 0px -1px black;


}

